input[type="file"] {
    display: none;
}


.custom-file-upload {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    color: #74873f;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.change-photo_wrapper{
    border: solid 1px #97a0cb;
    width: 175px;
    height: 35px;
    border-radius: 4px;
    display: flex;  
    align-items: center;
    justify-content: center;
    
}

.change-photo_wrapper:hover{
    background-color: #eaeef1;
    border: solid 1px #3f51b5;
    cursor: pointer;
}

.custom-file-upload:hover{
    cursor: pointer;
    
}
