.Todo-item{
    border-radius: 10px;
    width: 1000px;
    height: 40px;
    margin-top: 2px;
    background-color: #6ea8ef;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
